<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Sistema Requerimientos</title>

    <!--/*/ <th:block th:include="config/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="config/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(proyectos)}">
        <h2>Lista de Proyectos</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
           
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            <tr th:each="proyecto : ${proyectos}">
                <td th:text="${proyecto.id}">Id</td>
                <td th:text="${proyecto.nombreProyecto}">Nombre</td>
                <td th:text="${proyecto.descripcionProyecto}">Descripción</td>
   
                <td><a th:href="${'/proyecto/' + proyecto.id}">Ver</a></td>
                <td><a th:href="${'/proyecto/edit/' + proyecto.id}">Editar</a></td>
                <td><a th:href="${'/proyecto/delete/' + proyecto.id}">Eliminar</a></td>
            </tr>
        </table>

    </div>

    <!-- Pagination Bar -->
    <div th:fragment='paginationbar'>
   
    </div>

</div>

</body>
</html>