<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Sistema Requerimientos</title>

    <!--/*/ <th:block th:include="config/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="config/header :: header"></th:block> /*/-->

    <h2>Requisito Detalles</h2>
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${requisito.id}">Product Id</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${requisito.nombre}">description</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Necesidad:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${requisito.necesidad}">Necesidad</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Prioridad:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${requisito.prioridad}">Prioridad</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Riesgo:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${requisito.riesgo}">Riesgo</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Estado: debe cambiarse </label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${requisito.riesgo}">debe ser Estado</p>
                    </div>
                </div>



<div class="container">
       <div th:if="${not #lists.isEmpty(compuesto)}">
        <h2>Requisitos</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Product Id</th>
                <th>Description</th>
                <th>Price</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="requisito : ${compuesto}">
                <td th:text="${requisito.id}"><a href="/requisitosSimple/${requisito.id}">Id</a></td>
                <td th:text="${requisito.nombre}">Id</td>
                <td th:text="${requisito.necesidad}">Necesidad</td>
                <td th:text="${requisito.prioridad}">Prioridad</td>
                <td><a th:href="${'/requisitos/' + requisito.id}">Ver</a></td>
                <td><a th:href="${'/requisitos/edit/' + requisito.id}">Editar</a></td>
                <td><a th:href="${'/requisitos/delete/' + requisito.id}">Eliminar</a></td>
            </tr>
        </table>

    </div>

     

</div>
         

               </form>
    </div>
</div>
</body>
</html>