<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Sistema Requerimientos</title>

    <!--/*/ <th:block th:include="config/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="config/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(requisitos)}">
        <h2>Requisitos Simples</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Requisito</th>
                <th>Descripcion</th>
                <th>Prioridad</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            <tr th:each="requisito : ${requisitos}">
                <td th:text="${requisito.id}"><a href="/requisitosSimple/${requisito.id}">Id</a></td>
                <td th:text="${requisito.nombre}">Id</td>
                <td th:text="${requisito.necesidad}">Necesidad</td>
                <td th:text="${requisito.prioridad}">Prioridad</td>
                <td><a th:href="${'/requisitosSimple/' + requisito.id}">Ver</a></td>
                <td><a th:href="${'/requisitosSimple/edit/' + requisito.id}">Editar</a></td>
                <td><a th:href="${'/requisitosSimple/delete/' + requisito.id}">Eiminar</a></td>
            </tr>
        </table>

    </div>

    <!-- Pagination Bar -->
   

</div>

</body>
</html>